snippet jira_ticket_de "Jira Ticket link DE" w
https://contentsquare.atlassian.net/browse/DE-$1
endsnippet

snippet jira_ticket_sup "Jira Ticket link SUPPORT" w
https://contentsquare.atlassian.net/browse/SUP-$1
endsnippet

snippet jira_ticket_app "Jira Ticket link APP" w
https://contentsquare.atlassian.net/browse/APP-$1
endsnippet

