snippet documentation_function "Rust documentation template" b
/* ${1:A short description of what the function does}

 # Arguments

 * `$2` - ${3: description of the variable usage}

 # Examples
\`\`\`
 ${4: code examples}
\`\`\`
*/
endsnippet
